node_modules
npm-debug.log
dist
*.log
.git
.gitignore
README.md
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.DS_Store
.vscode
.idea
*.swp
*.swo
*~